@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 2.5rem;
    --topbar-height: 2.25rem;
    --footer-height: 3rem;

    --background: 0 0% 100%;
    --foreground: 222.2 34% 33.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 244, 55%, 89%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --tertiary: 240 23% 75%;
    --tertiary-foreground: 216 12.2% 44%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --header-background: 226, 100%, 97%;
    --header-foreground: 240 5.9% 10%;

    --topbar-background: 210, 40%, 96%;
    --topbar-foreground: 216 12.2% 44%;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --editor-background: 240 4.8% 95.9%;
    --editor-foreground: 240 5.9% 50%;

    --preview-background: 0 0% 98%;
    --preview-foreground: 240 5.9% 10%;
  }

  .dark {
    --background: 240, 9%, 9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 24% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 246, 33%, 37%;
    --secondary-foreground: 210 40% 98%;

    --tertiary: 240 23% 80%;
    --tertiary-foreground: 216 12.2% 83.9%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 9.6% 19.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --header-background: 222, 12%, 12%;
    --header-foreground: 240 4.8% 95.9%;

    --topbar-background: 240, 6%, 10%;
    --topbar-foreground: 216 12.2% 83.9%;

    --sidebar-background: 240, 9%, 9%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --editor-background: 0, 0%, 12%;
    --editor-foreground: 240 4.8% 95.9%;

    --preview-background: 240, 9%, 9%;
    --preview-foreground: 240 4.8% 95.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .primary-button {
    @apply bg-indigo-900 hover:bg-indigo-800 active:scale-95 text-background px-3 py-1 flex items-center justify-center text-sm h-8 rounded-sm shadow-md;
  }

  input {
    @apply px-3 py-1 h-8 text-sm rounded-sm text-foreground dark:bg-[#616163] dark:placeholder:text-tertiary-foreground;
  }
}

/********* CUSTOM SCROLLBAR *********/

::-webkit-scrollbar {
  width: 17px;
  height: 14px;
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 0;
  @apply bg-[#c1c1c0] dark:bg-[#424242];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#929292] dark:bg-[#4f4f4f];
}

::-webkit-scrollbar-thumb:active {
  @apply bg-[#5e5e5e] dark:bg-[#666666];
}

::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 0;
  background-color: transparent;
}

/********* PRIME REACT OVERRIDE STYLES *********/

/*** Tree ***/
.p-tree .p-treenode-content.p-highlight {
  border-radius: 3px;
}

.p-tree .p-treenode-content.p-treenode-selectable {
  border-radius: 3px;
}

.p-tree .p-treenode-content.p-highlight:is(.dark *) {
  background-color: transparent !important;
  outline: 1px solid #312e81;
  @apply ring-0;
}

.p-tree .p-treenode-content.p-treenode-selectable:is(.dark *):hover {
  background-color: transparent !important;
  outline: 1px solid #4b4781;
  border-radius: 3px;
}

.p-icon.p-tree-filter-icon {
  @apply dark:text-white;
}

/*** Menu ***/
.p-menu,
.p-contextmenu {
  @apply bg-popover rounded-md;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.p-menuitem-text {
  @apply text-accent-foreground;
}

.p-submenu-header {
  @apply bg-popover text-foreground;
}

.p-menuitem-link {
  @apply hover:bg-accent bg-popover h-10 text-[0.88rem];
}

/*** Dock extra buttons ***/
.dock-extra-content > div {
  @apply flex items-center w-full gap-2 px-6 mt-2 text-tertiary-foreground;
}

/********* MONACO OVERRIDE STYLES *********/
.monaco-menu {
  @apply fixed bg-popover text-accent-foreground py-1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.monaco-menu .monaco-menu {
  margin-top: -35px;
}

.monaco-menu .action-item {
  @apply relative h-10 text-[0.88rem];
}

.monaco-menu .action-item:hover {
  @apply bg-accent;
}

/*** dividers ***/
.monaco-menu .disabled {
  @apply bg-accent max-h-[1px] cursor-default;
}

/********* RC-DOCK OVERRIDE STYLES *********/

.dock-nav-wrap,
.dock-nav-operations,
.dock-extra-content,
.dock-bar.drag-initiator,
.dock-tab-btn {
  padding: 0;
}

.dock-content {
  background-color: hsl(0, 0%, 98%);
  border: 0.25px solid hsl(214.3 31.8% 91.4%);
  border-top: none;
}
.dock-content:is(.dark *) {
  background-color: hsl(240, 9%, 9%);
  border: 0.25px solid hsl(217.2 9.6% 19.5%);
  border-top: none;
}

.dock-ink-bar {
  background-color: rgb(146, 113, 180);
}
.dock-ink-bar:is(.dark *) {
  background-color: rebeccapurple;
}

.dock-bar:hover {
  cursor: move;
}
.dock-bar > div {
  background-color: hsl(210, 40%, 96%);
  height: var(--topbar-height);
}
.dock-bar > div:is(.dark *) {
  background-color: hsl(240, 6%, 10%);
}

.dock-tab {
  border: none;
}
.dock-tab-active {
  background-color: hsl(210, 40%, 96%);
}
.dock-tab-active:is(.dark *) {
  background-color: hsl(240, 6%, 10%);
  color: white;
}

.dock-panel,
.dock-bar {
  border: 0.25px solid hsl(214.3 31.8% 91.4%);
  border-bottom: none;
}
.dock-panel:is(.dark *),
.dock-bar:is(.dark *) {
  border: 0.25px solid hsl(217.2 9.6% 19.5%);
  border-bottom: none;
}
.dock-panel.dock-style-explorer .dock-ink-bar {
  background-color: transparent;
}
.dock-panel.dock-style-explorer .dock-tab > div {
  padding: 0;
  width: 100%;
  border: none;
}
.dock-panel.dock-style-card .dock-tab > div {
  padding: 0;
  width: 100%;
  border: none;
}
.dock-panel.dock-style-card .dock-tab {
  border: 2px solid hsl(214.3 31.8% 91.4%);
  border-bottom: none;
}
.dock-panel.dock-style-card .dock-tab:is(.dark *) {
  border: 2px solid hsl(217.2 9.6% 19.5%);
  border-bottom: none;
}
.dock-panel.dock-style-card .drag-initiator {
  border-bottom: none;
  /* border-bottom: 0.25px solid hsl(214.3 31.8% 91.4%); */
}
.dock-panel.dock-style-card .drag-initiator:is(.dark *) {
  border-bottom: none;
  /* border-bottom: 0.25px solid hsl(217.2 9.6% 19.5%); */
}
.dock-panel.dock-style-card .dock-tab.dock-tab-active {
  background-color: hsl(60, 100%, 100%);
}
.dock-panel.dock-style-card .dock-tab.dock-tab-active:is(.dark *) {
  background-color: hsl(0, 0%, 12%);
}
.dock-panel.dock-style-card .dock-tab:is(.dark *) {
  background-color: transparent;
  color: white;
}

div[class="dock-tab-btn"][role="tab"][aria-selected="false"] {
  color: gray;
}
div[class="dock-tab-btn"][role="tab"][aria-selected="false"]:is(.dark *) {
  color: gray;
}
div[class="dock-tab-btn"][role="tab"][aria-selected="true"] {
  color: hsl(245, 55%, 48%);
}
div[class="dock-tab-btn"][role="tab"][aria-selected="true"]:is(.dark *) {
  color: hsl(245, 49%, 55%);
}

.dock-panel.dock-style-card .dock-tab {
  padding: 0.2em 1.5em 0.2em 1em;
}
.dock-panel.dock-style-card .drag-initiator {
  border-bottom: none;
}
.dock-panel.dock-style-card .drag-initiator:is(.dark *) {
  border-bottom: none;
}
.dock-panel.dock-style-card .dock-bar {
  background-color: hsl(210, 40%, 96%);
  border-bottom: none;
}
.dock-panel.dock-style-card .dock-bar:is(.dark *) {
  background-color: hsl(240, 6%, 10%);
  border-bottom: none;
  /* border-bottom: 0.3px solid hsl(217.2 9.6% 19.5%); */
}

.dock-panel.dock-style-debug .dock-tab {
  background-color: hsl(210, 40%, 96%);
  border: none;
}
.dock-panel.dock-style-debug .dock-tab:is(.dark *) {
  background-color: hsl(240, 6%, 10%);
  border: none;
}
